<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Salbal Blog</title>
</head>
<body class="body">
    <header class="header">
        <div class="title">
            <a href="{% url 'pages:bloglist' %}">
                <span class="material-symbols-outlined">
                    home
                </span>
            </a>
            {% block title %}{% endblock title %}
        </div>
        <div class="create">
            <a href="{% url 'pages:blogcreate' %}">
                <span class="material-symbols-outlined">add</span>
            Add a Blog</a>
            <a href="{% url 'accounts:logout' %}">
                <span class="material-symbols-outlined">logout</span>
            logout</a>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>